[submodule "c/matrix_to_quaternion"]
	path = c/matrix_to_quaternion
	url = https://gist.github.com/5260578.git
[submodule "c/stringify"]
	path = c/stringify
	url = https://gist.github.com/5109330.git
[submodule "general/color"]
	path = general/color
	url = https://gist.github.com/6284607.git
[submodule "general/file_is_binary"]
	path = general/file_is_binary
	url = https://gist.github.com/5241399.git
[submodule "java/TextLoader"]
	path = java/TextLoader
	url = https://gist.github.com/1974886.git
[submodule "python/debugmt"]
	path = python/debugmt
	url = https://gist.github.com/5699241.git
[submodule "python/ipython_callbacks"]
	path = python/ipython_callbacks
	url = https://gist.github.com/5902529.git
[submodule "python/ipython_errors"]
	path = python/ipython_errors
	url = https://gist.github.com/6395281.git
[submodule "python/pickleable_staticmethods"]
	path = python/pickleable_staticmethods
	url = https://gist.github.com/5769651.git
[submodule "python/QtWrapper"]
	path = python/QtWrapper
	url = https://gist.github.com/5985681.git
[submodule "utils/rename"]
	path = utils/rename
	url = https://gist.github.com/6394470.git
[submodule "utils/timeprefix"]
	path = utils/timeprefix
	url = https://gist.github.com/6054764.git
[submodule "other/cygwin_wrapper"]
	path = other/cygwin_wrapper
	url = https://gist.github.com/4642964.git
[submodule "python/http_directory"]
	path = python/http_directory
	url = https://gist.github.com/6540454.git
